body {
    font-family: Arial, sans-serif;
    background-image:url(pics/back.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ebe7de;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

.bio {
    font-size: 1em;
    color: #666666;
    margin-bottom: 20px;
}

.link {
    display: block;
    background-color: #cfa7ae;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #ca969a;
    transition-duration: 0.5s;
}
